{% extends 'base.html' %}

{% block title %}
	 | {{ blogs.blog_title }}
{% endblock %}

{% block content %}
{% load static %}

<div class="container">
    <div class="row" >
        
        <div class="col-md-8 mb-3 px-4 rounded col-flex-item" style="background-color: #fff; box-shadow: 0 4px 10px 0 var(--primary-color)">
            <h1 class="blog-title mt-4 font-weight-bold text-center">{{ blogs.blog_title }}</h1>
            
            <div class="text-muted mt-3 mb-3 text-center">
                <div class="mb-1">By <a href="#" style="cursor:default;">{{ blogs.blog_author.title }}</a> &#x2022 Posted {{ blogs.blog_pubdate.date }}</div>
                
            </div> 
            <div class="separator"></div>
            <!-- <div style="background-size: cover;"> -->
                <img src="{{ blogs.blog_thumbnail }}" alt="" class="img-fluid" style="height: 40vh; width: 100vw; object-fit: cover;">
            <!-- </div> -->
            
            <div class="blog-desc-body px-3 py-3 mb-3 rounded">
                <div class="mb-4">
                    {{ blogs.blog_description }}
                </div>
                <div>
                    {{ blogs.blog_body|safe }}
                </div>
            </div>
            <hr style="background-color: #d2d2d2;">
                <div class="mb-3">
                    Category: <small class="bg-dark text-light p-1 rounded">{{ blogs.blog_category }}</small>
                </div>
        </div>
        <div class="col-md-4 mb-3" >
            <div class="mb-3 rounded post-details" style="background-color: #fff;">
                <div class="row m-auto text-center p-4">
                    <div class="col-md-12 col-flex-item">
                        <img class="img-fluid rounded-circle " src="media{{ user.profile }}"style="width: 60px; height:60px;" onerror="this.src='/media/profile_pics/default_pfp.jpeg';this.onerror='';">
                    </div>
                    <div class="col-md-12 col-flex-item">
                        <small>Written By <strong><a href="#" style="cursor:default;">{{ blogs.blog_author.title }}</a></strong></small>
                    </div>
                    <div class="col-md-12 col-flex-item">
                        <small>Posted on: {{ blogs.blog_pubdate.date }}</small>
                    </div>
                </div>
            </div>
            <div class="reaction rounded" style="background-color: #fff;">
                <div class="row m-auto text-center p-4 ">
                    <!-- <a href="#"><i class="fa-regular fa-heart mr-5"></i></a>
                    <i class="fa-regular fa-comment mr-5"></i>
                    <i class="fa-solid fa-share"></i> -->
                    <div class="col col-md-12">
                        
                        <form action="{% url 'untangled:like_post' blogs.pk blogs.blog_title|slugify %}" method="POST">
                            {% csrf_token %}
                            
                            {% if liked == blogs.blog_user_id %}
                                <button type="submit" id="like" name="post_id" value="{{ blogs.pk }}" class="mr-2" style="border: none; outline: none; background-color: transparent;">
                                    <i class="fa-solid liked fa-heart mr-1"></i> Liked 
                                </button> 
                            {% else %}
                                <button type="submit" id="like" name="post_id" value="{{ blogs.pk }}" class="mr-2" style="border: none; outline: none; background-color: transparent;">
                                    <i class="fa-solid fa-heart mr-1"></i> Like
                                </button> 
                            {% endif %}
                            
                                <small class="ml-2"><div id="like_count">{{ blogs.total_likes }} people like/s</div></small>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}