{% extends "base.html" %}
{% block title %}| Books{% endblock %}
{% block content %}
<div class="container" style="padding-top: 10px; background-color: var(--primary-color)">
    <h2 class="text-center">Books</h2>
    <div class="row d-flex justify-content-center align-items-center px-3 py-5" style="background-color: #fff; box-shadow: 0 4px 10px 0 rgba(22, 22, 26, 0.18);">
        <!-- <h1>Reset your password</h1> -->
        <ul class="alert alert-success">
            <p>Books section is still in development and Will be available soon.</p>
        </ul>
    </div>
</div>
{% endblock %}
