{% extends 'base.html' %}

{% block title %}
	 | Deleted
{% endblock %}

{% block content %}
{% load static %}

<div class="container mb-4" style="background-color:  #fff; padding-top: 10px; background-color: var(--primary-color);">
    
    <div class="row" style="background-color: #fff; box-shadow: 0 4px 10px 0 rgba(22, 22, 26, 0.18);">
        <div class="col-md-12">
            <div class="row row-flex">
                
                <div class="col col-flex-item">
                    
                    <h2 class="text-center mt-3">YOUR DELETED BLOGS</h2>
                    <hr>
                    <div class="row-md-9 col-flex-item table-responsive">
                        {% if blog_obj %}
                        <p class="alert alert-danger text-center">All deleted entries have 30 days in the trash before it is permanently deleted.</p>
                        <table class="table table-bordered table-striped mt-3 ">
                            <thead class="text-center row-md-12">
                                <tr class="row-md-12">
                                    <th>ID</th>
                                    <th>TITLE</th>
                                    <th>CATEGORY</th>
                                    <th>AUTHOR</th>
                                    <th>PUBLISHED DATE</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            {% for blog in blog_obj %}
                            <tbody class="text-center">
                                <tr>
                                    <td>{{ blog.blog_id }}</td>
                                    <td>{{ blog.blog_title|truncatechars:10 }}</td>
                                    <td>{{ blog.blog_category }}</td>
                                    <td>{{ blog.blog_author }}</td>
                                    <td>{{ blog.blog_pubdate }}</td>
                                    <td class="text-center">
                                        <!-- <a href="#" class="btn btn-success btn-sm">View</a> -->
                                        <a href="#" class="btn btn-success btn-sm">Undo Delete</a>
                                        <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                        <ul class="pagination" aria-colcount="">
                            {% if blog_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ blog_obj.previous_page_number }}">Previous</a></li>
                            {% endif %}
        
                            {% if blog_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ blog_obj.next_page_number }}">Next</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ blog_obj.paginator.num_pages }}">Last &raquo;</a></li>
                            {% endif %}
                        </ul>
                        
                        {% else %}
                            <h4 class="text-center mt-5">No Blog/s is Deleted yet. Try to <a href="{% url 'untangled:add' %}">Create</a> one.</h4>
                        {% endif %}
                    </div>
                </div>
                {% include 'untangled/workpages.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}