{% extends 'base.html' %}

{% block title %}
	 | Deleted
{% endblock %}

{% block content %}
{% load static %}

<div class="container py-4 px-4 mb-5" style="background-color:  #fff; border-radius: 10px;">
    
    <div class="row">
        <div class="col-md-12">
            <div class="row row-flex">
                {% include 'untangled/workpages.html' %}
                <div class="col col-flex-item">
                    <h2 class="text-center mt-3">YOUR DELETED BLOGS</h2>
                    <hr>
                    <div class="row-md-9 col-flex-item table-responsive">
                        {% if blog_obj %}
                        
                        <table class="table table-bordered table-striped mt-3 ">
                            <thead class="text-center row-md-12">
                                <tr class="row-md-12">
                                    <th>ID</th>
                                    <th>TITLE</th>
                                    <th>CATEGORY</th>
                                    <th>AUTHOR</th>
                                    <th>PUBLISHED DATE</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            {% for blog in blog_obj %}
                            <tbody class="text-center">
                                <tr>
                                    <td>{{ blog.blog_id }}</td>
                                    <td>{{ blog.blog_title|truncatechars:10 }}</td>
                                    <td>{{ blog.blog_category }}</td>
                                    <td>{{ blog.blog_author }}</td>
                                    <td>{{ blog.blog_pubdate }}</td>
                                    <td class="text-center">
                                        <!-- <a href="#" class="btn btn-success btn-sm">View</a> -->
                                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                        <ul class="pagination" aria-colcount="">
                            {% if blog_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ blog_obj.previous_page_number }}">Previous</a></li>
                            {% endif %}
        
                            {% if blog_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ blog_obj.next_page_number }}">Next</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ blog_obj.paginator.num_pages }}">Last &raquo;</a></li>
                            {% endif %}
                        </ul>
                        
                        {% else %}
                            <h4 class="text-center mt-5">No Blog/s is Deleted yet. Try to <a href="{% url 'untangled:add' %}">Create</a> one.</h4>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}