<!-- Modal for change profile -->
<div class="modal fade" id="ModalCenterChangeProfile" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Profile Picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="#" id="profileForm">
        {% csrf_token %}
        <div class="modal-body d-flex justify-content-center align-items-center">
          <img class="img-fluid rounded-circle my-4" src="media{{ user.profile }}" id="profileDisplay" style="border: 3px solid #f09d37; width: 200px;
          height: 200px;" onerror="this.src='/media/profile_pics/default_pfp.jpeg';this.onerror='';" alt="Profile Picture">
            <input type="file" onChange="displayImage(this)" id="profileImage" data-max-file-size="3M" data-allowed-file-extensions="jpeg png jpg" name="profile" hidden/>
            <label for="profileImage" class="btn btn-sm btn-primary m-1"><i class="fas fa-upload mr-1"></i>Choose Image</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit  " class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end modal change profile -->

<!-- Modal Add bio -->
<div class="modal fade" id="ModalCenterAddBio" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add your introduction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form action="#" id="bioForm">
        {% csrf_token %}
        <textarea name="bio" id="bio" cols="30" rows="10" placeholder="Tell me about yourself" class="form-control p-4 rounded" maxlength="250" style="resize: none;"></textarea>
        <div id="count" class="float-right">0 / 250 Characters</div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit  " class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end modal add bio -->
<script>
setTimeout(function(){ 
var myModalEl = document.getElementById('ModalCenterAddBio')
    myModalEl.addEventListener('hidden.bs.modal', function (event) {
        document.getElementById("ModalCenterAddBio").reset();
})
 }, 100);
  </script>