{% extends 'base.html' %}

{% block title %}
	| Profile
{% endblock %}



{% block content %}
{% for user_info in user_info %}
  <div class="header__wrapper">
    <div class="BannerCover">
        <div class="BannerTitleProfile">
            <h1 class="d-flex justify-content-center align-items-center">profile</h1>    
        </div>
    </div>
    <div class="cols__container">
      <div class="left__col col">
        <div class="img__container">
          {% if user_info.id == user.id %}
          <a href="#" data-toggle="modal" data-target="#ModalCenterChangeProfile">
              <img class="img-fluid rounded-circle my-4" src="/media/{{ user.profile.profile_pic }}"style="border: 3px solid #f09d37" onerror="this.src='/media/profile_pics/default_pfp.jpeg';this.onerror='';" alt="profile_picture">
              <div class="profile-text">
                <h5>Change Profile</h5>
              </div>
            {% if user_info.id %}
              <span></span>
            {% endif %}
          </a>
          {% else %}
            <img class="img-fluid rounded-circle my-4" src="/media/{{ user.profile.profile_pic }}"style="border: 3px solid #f09d37" onerror="this.src='/media/profile_pics/default_pfp.jpeg';this.onerror='';" alt="profile_picture">
            <!-- <div class="profile-text">
              <h5>Change Profile</h5>
            </div> -->
            {% if request.user.is_authenticated == True %}
              <span></span>
            {% endif %}
          {% endif %}
        </div>


        <h2>{{ user_info.first_name.title }} {{ user_info.last_name.title }}</h2>
        <!-- <p>UX/UI Designer</p> -->
        <p class="mt-3">{{ user_info.email }}</p>
        <ul class="about">
          <li><span>0</span>Followers</li>
          <li><span>0</span>Following</li>
          <li><span>{{ blog_obj_count }}</span>Works</li>
        </ul>

        <div class="content">
          <p>
            {% if user_info.profile.bio %}
                <p class="text-muted">{{user_info.profile.bio}}</p> 
                <a href="#"><i class="fa-regular fa-pen-to-square ml-2"></i></a>
            {% else %}
                <p class="text-muted">Create your bio.</p>
                <a href="#" data-toggle="modal" data-target="#ModalCenterAddBio">
                  <i class="fa-regular fa-pen-to-square ml-2"></i>
                </a>
            {% endif %}
           </p>

          <ul class="row">
            <li><i class="fa-solid fa-globe"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <!-- <li><i class="fab fa-pinterest"></i></li> -->
            <li><i class="fab fa-facebook"></i></li>
            <!-- <li><i class="fab fa-dribbble"></i></li> -->
          </ul>
        </div>
      </div>
      <div class="right__col">
        <nav class="right__col__nav">
            <!-- <ul></ul> -->
            <div class="row">
                <!-- <button class="btn-sm">Follow</button>
                <button class="btn-sm bg-secondary">Edit Profile</button> -->
                <a href="#" class="btn-primary btn-sm">Follow</a>
                {% if user.is_authenticated %}
                  {% if user_info.id == user.id %}
                    <a href="{% url 'untangled:edit-profile' %}" class="btn btn-sm bg-secondary">Edit Profile / Account Info</a>
                  {% endif %}
                {% endif %}
            </div>
        </nav>

        <div class="entries">
            <h2>Published Blogs ({{blog_obj_count}})</h2>
            {% if blog_obj %}
              {% for blog in blog_obj %}
              <div class="card mb-3 rounded work-pages-cards">
                  <div class="row">
                      <div class="col-md-4">
                          <img src="{{ blog.blog_thumbnail }}" class="card-img-top" alt="{{ blog.blog_thumbnail }}" style="max-width: 100%; object-fit: cover;">
                      </div>
                      <div class="col-md-8">
                          <div class="card-body">
                            <strong class="d-inline-block text-light rounded" style="background-color: lightcoral; padding: 3px; font-size: 10px;">{{ blog.blog_category }}</strong>
                              <h5 class="card-title mt-2" style="font-family: 'Lobster', sans-serif;"><a href="{% url 'untangled:blogEntry' blog.pk blog.blog_title|slugify %}" style="color: #000;">{{ blog.blog_title|truncatechars:30 }}</a></h5>
                              <p class="card-text">{{ blog.blog_description|truncatechars:130 }}</p>
                              <p class="card-text"><small class="text-muted">Published {{ blog.blog_pubdate|timesince }} ago</small></p>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
              <ul class="pagination d-flex justify-content-center align-items-center" aria-colcount="">
                {% if blog_obj.has_previous %}
                    <li class="page-item m-2"><a class="page-link" href="?page=1">&laquo; First</a></li>
                    <li class="page-item m-2"><a class="page-link" href="?page={{ blog_obj.previous_page_number }}">Previous</a></li>
                {% endif %}

                {% if blog_obj.has_next %}
                    <li class="page-item m-2"><a class="page-link" href="?page={{ blog_obj.next_page_number }}">Next</a></li>
                    <li class="page-item m-2"><a class="page-link" href="?page={{ blog_obj.paginator.num_pages }}">Last &raquo;</a></li>
                {% endif %}
            </ul>
            {% else %}
              <h4 class="text-center alert alert-success mt-5">Author doesn't have any published blog yet.</h4>
            {% endif %}
          <!-- <img src="img/img_1.avif" alt="Photo" />
          <img src="img/img_2.avif" alt="Photo" />
          <img src="img/img_3.avif" alt="Photo" />
          <img src="img/img_4.avif" alt="Photo" />
          <img src="img/img_5.avif" alt="Photo" />
          <img src="img/img_6.avif" alt="Photo" /> -->
        </div>
      </div>
    </div>
  </div>

<!-- Include modals -->
{% include 'untangled/modals.html' %}
<!-- End Modal -->

{% endfor %}
<!-- scripts -->
<script>
  function displayImage(e) {
      if (e.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e){
              document.querySelector('#profileDisplay').setAttribute('src', e.target.result);
          }
          reader.readAsDataURL(e.files[0]);
      }
  }
</script>

<script>
  document.getElementById('bio').onkeyup = function () {
      document.getElementById('count').innerHTML = (this.value.length + ' / 250 Characters');
  };
</script>


{% endblock %}