<footer class="text-center text-lg-start text-dark">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on Facebook:</span>
      </div>
      <div class="text-center d-flex justify-content-center align-items-center" >
        <a href="https://web.facebook.com/UntangledStringsOfficial/" target="_blank" class="text-reset mr-3 text-decoration-none">
          <i class="fab fa-facebook-f mr-3"></i>Facebook
        </a>
      </div>
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-feather me-3 mr-3"></i>Untangled Strings
            </h6>
            <p>
              Untangled Strings is a blogging site where you can create and post some of your unique entries and share 
              it with others.
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h5 class="text-uppercase fw-bold mb-4">
              Useful links
            </h5>
            <p>
              <a href="/" class="text-reset">Home</a>
            </p>
            <p>
              <a href="/contact" class="text-reset">Contact</a>
            </p>
            <p>
              <a href="/blogs" class="text-reset">Blogs</a>
            </p>
            <p>
              <a href="#" class="text-reset">Authors</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            
            {% if user.is_authenticated %}
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p>
                <a class="text-reset">untangledstrings@gmail.com</a>
              </p>
            {% else %}
            <h6 class="text-uppercase fw-bold mb-4">Register and create your blog now!</h6>
              <li class="list-inline-item">
                <a href="{% url 'untangled:register' %}" class="btn btn-success">Sign up here!</a>
              </li>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.08)">
        © 2022 
        <a class="text-reset fw-bold text-decoration-none" href="#">Untangled Strings</a>
      </div>
    </section>
  </footer>