<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on Facebook:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div class="text-center d-flex justify-content-center align-items-center" >
        <a href="https://web.facebook.com/UntangledStringsOfficial/" target="_blank" class="text-reset mr-3 text-decoration-none">
          <i class="fab fa-facebook-f mr-3"></i>Facebook
        </a>
        <!-- <a href="#" target="_blank" class="text-reset mr-3 text-decoration-none">
          <i class="fab fa-twitter mr-3"></i>Twitter
        </a> -->
        
        <!-- <a href="" class="socials">
          <i class="fab fa-google mr-4"></i>
        </a>
        <a href="" class="socials">
          <i class="fab fa-instagram mr-4"></i>
        </a>
        <a href="" class="socials">
          <i class="fab fa-linkedin mr-4"></i>
        </a>
        <a href="#" class="socials">
          <i class="fab fa-github mr-4"></i>
        </a> -->
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 mr-3"></i>Untangled Strings
            </h6>
            <p>
              Untangled Strings is a Blogging site.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4"> -->
            <!-- Links -->
            <!-- <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div> -->
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="/" class="text-reset">Home</a>
            </p>
            <p>
              <a href="#!" class="text-reset">About</a>
            </p>
            <!-- <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset"></a>
            </p> -->
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <!-- <p><i class="fas fa-home mr-2"></i> New York, NY 10012, US</p> -->
            <p>
              <i class="fas fa-envelope mr-2"></i>
              info@example.com
            </p>
            <!-- <p><i class="fas fa-phone mr-2"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-2"></i> + 01 234 567 89</p> -->
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 
      <a class="text-reset fw-bold text-decoration-none" href="#">Untangled Strings</a>
    </div>
    <!-- Copyright -->
    </section>
    <!-- Section: Links  -->
  </footer>