<nav id="nav" class="navbar navbar-light navbar-expand-lg fixed-top">
    <a class="navbar-brand nav-title" href="/"> 
        <i class="fa-solid fa-feather mr-3 ml-3"></i>
    Untangled Strings
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fas fa-bars"></i></span>
    </button>
    
    <div class="collapse navbar-collapse text-center mr-2" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <a href="/" class="nav-items navbar-brand home mr-4">Home</a>
            <a href="/about" class="nav-items navbar-brand about mr-4">About</a>
            {% if user.is_authenticated %}
                <a href="#" class="nav-items navbar-brand user mr-4">Authors</a>            
                <a href="{% url 'untangled:add' %}" class="nav-items navbar-brand add">Create</a>            
                <!-- <a href="{% url 'untangled:processlogout' %}" class="nav-items navbar-brand logout">LOGOUT<i class="fa-solid fa-right-from-bracket ml-2"></i></a> -->
                <div class="btn-group drpdwn">
                    <a href="#" type="button" class="text-decoration-none text-muted dropdown-toggle mr-3 ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                    </a> 
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{% url 'untangled:profile' %}" class=" navbar-brand ml-4 logout"><i class="fa-solid fa-user mr-2"></i>Profile</a>
                        {% if user.is_superuser or user.is_admin %}
                            <a href="#" class=" navbar-brand ml-4 logout"><i class="fa-solid fa-gear mr-2"></i>Settings</a>
                        {% else %}
                            <a href="{% url 'untangled:change-password' %}" class=" navbar-brand ml-4 logout"><i class="fa-solid fa-key mr-2"></i>Change Password</a>
                        {% endif %}
                        <a href="{% url 'untangled:processlogout' %}" class=" navbar-brand ml-4 logout"><i class="fa-solid fa-right-from-bracket mr-2"></i>Logout</a>
                    </div>
                </div>
                <div class="collapse-other-menu">
                    <a href="{% url 'untangled:profile' %}" class=" nav-items ml-3 logout">Profile</a>
                    {% if user.is_superuser or user.is_admin %}
                    <a href="#" class=" nav-items ml-4 logout">Settings</a>
                    {% else %}
                    <a href="{% url 'untangled:processlogout' %}" class=" nav-items ml-4 logout">Change Password</a>
                    {% endif %}
                    <a href="{% url 'untangled:processlogout' %}" class=" nav-items ml-4 logout">Logout</a>
                </div>    
                {% else %}            
                <a href="{% url 'login' %}" class="nav-items navbar-brand loginnav"><i class="fa-solid fa-right-to-bracket mr-2"></i>Sign up</a>
            {% endif %}
        </ul>
    </div>
</nav>

