{% extends 'base.html' %}

{% block title %}
	| Change Password
{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
        <ul class="messages col-md-12 m-auto">
            {% for message in messages %}
                <p id="successLogout" {% if message.tags %}  class="text-center alert {{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row m-auto justify-content-center px-4 rounded" style="background-color: #fff;">
        <h2 class="text-center col-md-12 mt-5 mb-3"><u>Change Password</u></h2>
        <div class="form-group col-md-6 mb-5">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.help_text }}
                <button type="submit" class="btn btn-secondary float-right">Change Password</button>
                <a href="{% url 'untangled:home' %}" class="btn btn-danger float-right mr-2">Cancel</a>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}