{% extends 'base.html' %}

{% block title %}
	| Change Password
{% endblock %}

{% block content %}
<div class="container mb-5" style="padding-top: 10px; background-color: var(--primary-color)">
    <h4>Change Password</h4>
    {% if messages %}
        <ul class="messages col-md-12 m-auto">
            {% for message in messages %}
                <p id="successLogout" {% if message.tags %}  class="text-center alert {{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row d-flex justify-content-center align-items-center px-4 py-5" style="background-color: #fff; box-shadow: 0 4px 10px 0 rgba(22, 22, 26, 0.18);">
        
        <div class="form-group col-md-6">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.help_text }}
                <button type="submit" class="btn btn-secondary float-right m-2">Change Password</button>
                <a href="{% url 'untangled:home' %}" class="btn btn-danger float-right m-2">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}