{% extends 'base.html' %}

{% block title %}
	| Edit Profile
{% endblock %}



{% block content %}
<div class="card-body">
    <div class="container p-5" style="background-color: #fff; border-radius: 10px;">
        {% if messages %}
            <ul class="messages col-md-6 m-auto">
                {% for message in messages %}
                <p {% if message.tags %} class="text-center alert {{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row col-md-12 ">
            <h2>Edit Profile</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 px-3">
            <form method="POST" action="">
            {% csrf_token %}
                <!-- PROFILE PICTURE -->
                <div class="text-center">
                    <img class="img-fluid rounded-circle my-4" id="profileDisplay" src="media{{ user.profile }}" style="border: 3px solid #f09d37; margin: 0 auto; padding: 3px; width: 200px; height:200px;" onerror="this.src='/media/profile_pics/default_pfp.jpeg';this.onerror='';"/>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-12 px-5 text-center">
                <h6 class="font-weight-bold">Change Image</h6>
                <h6 class="text-muted">You can upload a JPG, PNG or GIF file (File size limit is 3MB).<br> Recommended size 200x200.</h6>
                <input type="file" onChange="displayImage(this)" id="profileImage" data-max-file-size="3M" data-allowed-file-extensions="jpeg png jpg" name="profile" hidden/>
                <label for="profileImage" class="btn btn-sm btn-primary m-0"><i class="fas fa-upload"></i> Choose Image</label>
                <a class="btn btn-sm btn-outline-secondary m-0">Remove</a>
            </div>
        </div>
        
        <!-- Containers -->
        <div class="row">
            <div class="col-md-12 px-5">
                {{form}}
                
                <hr>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary float-right ml-2 mr-4">Save</button>
            </form>
            <a href="{% url 'untangled:profile' %}" class="btn btn-danger float-right">Cancel</a>
        </div>
    </div>
</div>

<script>
    document.getElementById('bio').onkeyup = function () {
        document.getElementById('count').innerHTML = (this.value.length + ' / 500 Characters');
    };
</script>

<script>
    function displayImage(e) {
        if (e.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e){
                document.querySelector('#profileDisplay').setAttribute('src', e.target.result);
            }
            reader.readAsDataURL(e.files[0]);
        }
    }
</script>

{% endblock %}