{% extends 'base.html' %}

{% block title %}
	| Edit Profile
{% endblock %}



{% block content %}


<div class="container mb-4" style="padding-top: 10px; background-color: var(--primary-color)">
    <h4>Edit Profile Information</h4>
    <div class="row d-flex justify-content-center align-items-center px-3 py-5" style="background-color: #fff; box-shadow: 0 4px 10px 0 rgba(22, 22, 26, 0.18);">
        {% if messages %}
            <ul class="messages col-md-6 m-auto">
                {% for message in messages %}
                <p {% if message.tags %} class="text-center alert {{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
        <!-- <div class="">
            <h2>Edit Profile</h2>
        </div> -->
        <!-- <div class=""> -->
        <form method="POST" action=""></form>
        <!-- <div class=" px-3"> -->
            
            {% csrf_token %}
                <!-- PROFILE PICTURE -->
                <div class="text-center">
                    <img class="img-fluid rounded-circle my-4" id="profileDisplay" src="media{{ user.profile }}" style="border: 3px solid #f09d37; margin: 0 auto; padding: 3px; width: 200px; height:200px;" onerror="this.src='/media/profile_pics/default_pfp.jpeg';this.onerror='';"/>
                </div>
        <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="row justify-content-center mb-5"> -->
            <div class="col-md-12 px-5 text-center">
                <h6 class="font-weight-bold">Change Image</h6>
                <h6 class="text-muted">You can upload a JPG, PNG or GIF file (File size limit is 3MB).<br> Recommended size 200x200.</h6>
                <input type="file" onChange="displayImage(this)" id="profileImage" data-max-file-size="3M" data-allowed-file-extensions="jpeg png jpg" name="profile" hidden/>
                <label for="profileImage" class="btn btn-sm btn-primary m-1"><i class="fas fa-upload mr-1"></i>Choose Image</label>
                <a class="btn btn-sm btn-outline-secondary m-1">Remove</a>
            </div>
        <!-- </div> -->
        
        <!-- Containers -->
        <!-- <div class="row"> -->
            <div class="col-md-10 mt-3 px-5">
                {{form}}
                <hr>
            </div>
        <!-- </div> -->
            <div class="mb-3 d-flex justify-content-center col-12">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                
                <a href="{% url 'untangled:profile' %}" class="btn btn-danger float-right m-2">Cancel</a>
            </div>
        </form>
    </div>

</div>

<script>
    document.getElementById('bio').onkeyup = function () {
        document.getElementById('count').innerHTML = (this.value.length + ' / 500 Characters');
    };
</script>

<script>
    function displayImage(e) {
        if (e.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e){
                document.querySelector('#profileDisplay').setAttribute('src', e.target.result);
            }
            reader.readAsDataURL(e.files[0]);
        }
    }
</script>

{% endblock %}