{% extends 'base.html' %}

{% block title %}
	| Login
{% endblock %}


{% load static %}
{% block content %}
<div class="login-container">
	<div class="container row mb-3" style="background-color: #fff; border-radius: 5px; box-shadow: 0 4px 10px 0 rgba(22, 22, 26, 0.18);">
		<div class="col col-md-7 container-left" style="background-color: var(--primary-color);">
			<div class="text-center">
				<div class="col-md-12">
					<i class="fa-solid fa-feather"></i>
				</div>
				<div class="col-md-12">
					<p class="title-left">UNTANGLED STRINGS</p>
				</div>
			</div>
			
			<!-- <p class="title-left">UNTANGLED STRINGS</p> -->
		</div>
		
		<div class="row col-md-5 container-right ml-2">
			<!-- <div class="login col-md-8 m-auto border-secondary"> -->
				<div class=" mt-4 mb-4">
					<h2 class="secondary-title"><!--<i class="fa-solid fa-feather mr-3">--></i>Login</h2>
				</div>
				{% if messages %}
					<ul class="messages col-md-12 m-auto">
						{% for message in messages %}
						<p {% if message.tags %} class="text-center alert {{ message.tags }}"{% endif %}>{{ message }}</p>
						{% endfor %}
					</ul>
				{% endif %}
				<form class="col-md-12" action="{% url 'untangled:process' %}" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label class="names ">Username</label>
						<input type="text" name="username" id="username" class="form-control mb-4 secondary-title" placeholder="Enter Username" autocomplete="off" required >

						<label class="names ">Password</label>
						<input type="password" name="password" id="password" class="form-control mb-4 secondary-title" placeholder="Enter Password">
						<!-- <input type="checkbox" name="remember_me" id="remember_me" class="mb-4"> Remember Me -->

						<p class="text-center mb-0 secondary-title"><a href="{% url 'untangled:password_reset' %}">Forgot your password?</a></p>
						<p class="text-center secondary-title">Doesn't have account? <a href="{% url 'untangled:register' %}">Register</a></p>
					</div>
					<button class="btn-log btn form-control mb-4" type="submit">Login</button>
				</form>
				<p class="text-center"><span>----- OR -----</span></p>
				<a href="{% url 'social:begin' 'facebook' %}" class="btn-logfb btn form-control mb-3" type="submit"><i class="fa-brands fa-facebook-f mr-3"></i>Login with Facebook</a>
				<!-- <bu	tton class="btn-logggl btn form-control mb-4" type="submit"><i class="fa-brands fa-google mr-3"></i>Login with Google</button> -->
			<!-- </div> -->
		</div>

	</div>
</div>





{% endblock %}