{% extends "base.html" %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}
<div class="container" style="padding-top: 10px; background-color: var(--primary-color)">
    <h2>Reset password done</h2>
    <div class="row d-flex justify-content-center align-items-center px-3 py-5" style="background-color: #fff; box-shadow: 0 4px 10px 0 rgba(22, 22, 26, 0.18);">
        <h5 class="alert alert-success">Your password has been set!. You can <a href="{% url 'login' %}">log in now</a></h5>
    </div>
</div>
{% endblock %}