{% extends "base.html" %}
{% block title %}| Reset your password{% endblock %}
{% block content %}
<div class="container" style="padding-top: 10px; background-color: var(--primary-color)">
    <h2>Forgotten your password?</h2>
    <div class="row d-flex justify-content-center align-items-center px-3 py-4" style="background-color: #fff; box-shadow: 0 4px 10px 0 rgba(22, 22, 26, 0.18);">
        <p class="col-md-8 text-center alert alert-success">Enter your e-mail address that you use to register and we'll email instructions for setting a new one.</p>
        <div class="form-group col-md-6">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success float-right">Send reset link</button>
        </form>
        </div>
    </div>
</div>

<!-- <script>
    var d = document.getElementsByName('email');
    d.classList.add("form-group col-md-12");
</script> -->
{% endblock %}
