{% extends "base.html" %}
{% block title %}| Password Reset Done{% endblock %}
{% block content %}
<div class="container" style="padding-top: 10px; background-color: var(--primary-color)">
    <h2>Reset password instructions sent!</h2>
    <div class="row d-flex justify-content-center align-items-center px-3 py-5" style="background-color: #fff; box-shadow: 0 4px 10px 0 rgba(22, 22, 26, 0.18);">
        <!-- <h1>Reset your password</h1> -->
        <ul class="alert alert-success">
            <p>We've Sucessfully emailed you instructions for resetting your password.</p>
            <p>If you don't receive an email, please make sure you've entered the correct email address you registered with.</p>
        </ul>
    </div>
</div>
{% endblock %}
