{% extends 'base.html' %}

{% block title %}
	| Register
{% endblock %}


{% load static %}
{% block content %}


	
<div class="login-container">
	<div class="container row mb-3" style="background-color: #fff; border-radius: 5px; box-shadow: 0 4px 10px 0 rgba(22, 22, 26, 0.18);">
		<div class="col col-md-7 container-left" style="background-color: #9fe7f5;">
			<div class="text-center">
				<div class="col-md-12">
					<i class="fa-solid fa-feather"></i>
				</div>
				<div class="col-md-12">
					<p class="title-left">UNTANGLED STRINGS</p>
				</div>
			</div>
			
			<!-- <p class="title-left">UNTANGLED STRINGS</p> -->
		</div>
		
		<div class="row col-md-5 container-right ml-2">
			<!-- <div class="login col-md-8 m-auto border-secondary"> -->
				<div class=" mt-4">
					<h2 class="secondary-title"><!--<i class="fa-solid fa-feather mr-3">--></i>Register</h2>
				</div>
				{% if messages %}
					<ul class="messages col-md-12 m-auto">
						{% for message in messages %}
						<p {% if message.tags %} class="text-center alert {{ message.tags }}"{% endif %}>{{ message }}</p>
						{% endfor %}
					</ul>
				{% endif %}
				<form class="col-md-12" method="POST">
					{% csrf_token %}
					<div class="">
                        <div class="m-2">
							<p class="text-muted placeholder">Please input required information.</p>
							{% csrf_token %}
							{{ form }}
						</div>
						<p class="text-center placeholder">Already have an account? <a href="{% url 'login' %}">Login</a>.</p>
						<button class="btn-log btn form-control mb-4 ml-2" type="submit">Register</button>
					</div>
					
				</form>
		</div>
	</div>
</div>

{% endblock %}